<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login de Administración</title>
    </head>
    <body>
        <h1>Iniciar sesión</h1>
        
        {% if form.errors %}
        <p>Nombre de usuario o contraseña incorrectos</p>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar sesión</button>
        </form>
    </body>
</html>